#pic div , #drop-area div {
  margin: 1%;
  width: 30%;
  height: 300px;
  text-align: center;
  padding: 1%; 
  cursor: default !important
}
#drop-area div{
border: 1px solid #ddd;
cursor: default !important
}
#pic div img , #drop-area div img{
  width: 200px;
  height: 200px;
  cursor: default !important
}
